
:root {
    --nav-background-color: 
    --Main-background-color:
    --Main-Section-Background-color:
    --float-background-color:
}

/* Nav Layout */

nav{
    background-color: var(--nav-background-color);
    grid: flex;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

nav ul{
    list-style-type: none;
    flex-direction: row;
    /* flex-flow: row; */
}

nav ul li {
    flex-direction: row;
    justify-content: space-around;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ */

/* Main CSS Layout */

main {
    background-color: var(--Main-background-color);
    grid: flex;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 1rem;
    border: 2px solid black;
}

main .logo {
    float: right;
    background-color: var(--float-background-color);
    border: 2px solid black;
    border-radius: 2rem;
}

/* American dream quotes CSS Layout */

main .dream-area {
    border: 2px solid black;
    border-radius: 2rem;
    background-color: var(--Main-Section-Background-color);
}

main .quotes{
    border-color: 2px solid black;
    border-radius: 2rem;
    background-color: white;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
